<!--
Title:  home.component.html
Original Author: Richard Krasso
Appended by:  John Vanhessche
Date 14 March 2023
Description:  HTML file for the home component.
-->


<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait until the last minute to begin working on your tasks.
    </span>
  </h1>
</div>
