/*
Title:  base-layout.component.css
Original Author: Richard Krasso
Appended by:  John Vanhessche
Date 22 March 2023
Description:  CSS file for the base-layout component.
*/

.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;;
}

.mat-toolbar {
  background-color: #ae0001;
}


.navbar-container {
  padding: 5px;
  color: #eeba30;
}

.mat-icon-button {
  color: #eeba30;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}
